.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

body{
    font-family: Roboto, sans-serif;
    color: var(--third-color);
    background-color: var(--fourth-color);
}

:root {
    --main-font-family:"Roboto", sans-serif;
    --secont-font-family:"Raleway", sans-serif;
    --first-color:#2e2f42;
    --second-color:#f4f4fd;
    --third-color:#434455;
    --fourth-color:#ffffff;
    --fifth-color:#404bbf;
    --sixth-color:#4d5ae5;
}  
.logo {
    font-family: 'Raleway',sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:var(--sixth-color);
}


.logo-sec {
    color:var(--second-color);
}
.menu-nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em
}

.menu-nav:hover,
.menu-nav:focus{
    color:var(--fifth-color);
}
.menu-nav {
    color:var(--first-color);
}

.contact{
    font-style: normal
}

.contact-list-item:hover,
.contact-list-item:focus{
    color:var(--fifth-color);
}

.contact-list-item{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--third-color);
}

.first-sect {
    background-color: var(--first-color);
}
.first-h {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--fourth-color);
}

.order {
font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--fourth-color);
    background: var(--sixth-color);
    cursor: pointer;
}

.order:hover,
.order:focus{
    background-color: var(--fifth-color)
}
.list-advantages{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--first-color);
}

.list-advantages-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--third-color);
}

.second-h {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        color: var(--first-color);
}

.forth-sect {
    background-color: var(--second-color);
}

.inf-work{
    background-color: var(--fourth-color);
}
.name-worker {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--first-color);
}

.position {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--third-color);
}

.main-button{
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color:var(--sixth-color);
        background-color: var(--second-color);
        cursor: pointer
}

.picture-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--first-color);
}

.picture-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--third-color);
}

.main-button:hover,
.main-button:focus{
    color: var(--fourth-color);
    background-color: var(--fifth-color);
}

.logo-first{
    color: var(--first-color);
}

.last-step{
    background-color: var(--first-color);
}

.logo-text{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5px;
        letter-spacing: 0.02em;
        color: var(--second-color);
}